body {
    background-color: #242b2e;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        margin-top:200px;
    }

    img {
        border: 10px solid white;
        border-radius: 90%;
        position: relative;
        margin-left: -40px;
    }

    .img-1 {
        z-index: 4;
    }

    .img-2 {
        z-index: 3;
    }

    .img-3 {
        z-index: 2;
    }

    .img-4 {
        z-index: 1;
    }